<!DOCTYPE html>
<html>
<head>
	<title>GameSync</title>
	<script type="text/javascript" src="javascripts/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="javascripts/client.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
<div>
	<header>
		<div class="w8 center"><h1>This is the place where dreams will become reality</h1></div>
	</header>
	<div class="w5 center">
		<canvas id="stage">
			
		</canvas>
	<div>
	<footer>
		
	</footer>
</div>
</body>
</html>