<!DOCTYPE html>
<html>
<head>
	<title>Testing</title>
	<style type="text/css">
	canvas {
		background-color: rgb(230,230,230);
		box-shadow: 3px 3px grey;
		width: 500px;
		height: 500px;
	}
	canvas:hover {
		box-shadow: none;
		border-bottom: 1px solid grey;
		border-right: 1px solid grey;
	}
	div {
		width: 530px;
		margin: auto;
	}
	</style>
	<script type="text/javascript" src="javascripts/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="javascripts/client.js"></script>
	<script type="text/javascript">
	$(document).ready(function(e) {

	});
	</script>
</head>
<body>
	<div>
		<canvas id="canvas">
			
		</canvas>
	</div>
</body>
</html>